.animal-wrapper {
    margin-top: 100px;
}

.alert-wrapper {
    width: 500px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.alert {
    line-height: 50px;
    border-radius: 8px;
}

.animal-image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: contain;
}

.card {
    margin: 25px 50px;
    border-radius: 25px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    border: none;
    text-align: center;
}

.card-img-top {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.card-food-dropdown {
    margin-bottom: 10px;
}

.btn-feed {
    margin-right: 10px;
}

.btn-pet {
    margin-left: 10px;
}

.btn-div {
    margin-bottom: 10px;
}