:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --card-primary: #ffffff;
    --card-secondary: #e6e6e6;
    --box-shadow-primary: #d9d9d9;
    --box-shadow-secondary: #ffffff;
    --border-color: #dee2e6;
    --select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.dark {
    --bg-color: #333333;
    --text-color: #e3e3e3;
    --card-primary: #373737;
    --card-secondary: #2e2e2e;
    --box-shadow-primary: #2b2b2b;
    --box-shadow-secondary: #3b3b3b;
    --border-color: #606060;
    --select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.modal-content {
    background-color: var(--bg-color);
}

.modal-header {
    border-bottom: 1px solid var(--border-color);
}

.modal-footer {
    border-top: 1px solid var(--border-color);
}

.form-select {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--select-arrow);
    border-color: var(--border-color);
}

.animal-dropdown {
    width: 150px;
    display: inline-block;
}

.animal-wrapper {
    margin-top: 100px;
}

.alert-wrapper {
    width: 500px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.alert {
    line-height: 50px;
    border-radius: 8px;
}

.animal-image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: contain;
}

.card {
    margin: 25px 50px;
    border-radius: 25px;
    background: linear-gradient(145deg, var(--card-primary), var(--card-secondary));
    box-shadow: 20px 20px 60px var(--box-shadow-primary),
    -20px -20px 60px var(--box-shadow-secondary);
    border: none;
    text-align: center;
}

.btn-remove {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.card-img-top {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.card-food-dropdown {
    margin-bottom: 10px;
}

.btn-feed {
    margin-right: 10px;
}

.btn-pet {
    margin-left: 10px;
}

.btn-div {
    margin-bottom: 10px;
}

.dark-mode {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}